.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
padding: 1vmin 2vmin 1vmin 4vmin;
  height: 8vmin;
  pointer-events: none;
}


